*, *:after, *:before {
	display: flex;

	box-sizing: border-box;
	outline: 0;
}

title, script, style {
	display: none;
}

body {
	flex-direction: column;
	width: 100%;

	font: normal 100% Roboto, sans-serif;
}

.line {
	height: 5px;
}

.line_color_purple {
	background: #9B51E0;
}

.content {
	flex-direction: column;
	max-width: 984px;

	margin: 0 auto;
	padding: 0 10px;
}

.content__header {
	padding-top: 25px;
}

.header {
	align-items: center;
	justify-content: space-between;
}

.logo {
	flex-basis: 170px;

	position: relative;
}

.logo__square {
	border: 3px solid #FFC740;
	height: 46px;
	width: 46px;
}

.logo__title {
	color: #000;
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 28px;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 10px;
	right: 0px;
	background: white;
}

.search {
	flex-basis: 200px;
	height: 34px;
	border: 1px solid #6D3D99;
}

.search__text {
	padding: 10px;
	margin: 0;
	font-size: 14px;
	height: 32px;
	border: none;
	width: 156px;
	color: #392050;
}

.search__submit {
	justify-content: center;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	width: 42px;
	height: 32px;
	background: #9B51E0;
	border: none;
	color: white;
	border-left: 1px solid #6D3D99;
}

.nav {
	flex-wrap: nowrap;
	align-items: baseline;
}

.content_nav {
	padding: 16px 0;
}

.nav__link {
	text-decoration: none;
	flex-basis: 100%;
	height: 47px;
	justify-content: center;
	padding: 12px 0;
	color: #050505;
}

.nav__link:hover {
	text-decoration: underline;
	color: #9B51E0;
}

.nav__link_active:hover {
	color: white;
}

.nav__link_active {
	background: #FFC740;
	color: white;
}

.img-board {
	flex-direction: column;
	justify-content: space-between;

	height: 331px;
	background: url(../img/img-header.jpg);
	padding: 17px 0 22px 40px;
}

.img-board__h1 {
	font-size: 4em;
	line-height: 1.171875em;
	font-weight: normal;
	color: #FFC740;
	margin: 0;
}

.img-board__p {
	width: 47.223577235772357723577235772358%;
	font-size: 0.875em;
	line-height: 1.1428571428571428571428571428571em;
    color: white;
    font-weight: 300;
}

.img-board__a {
	color: white;
	display: block;
	background: #6D3D99;
	width: 125px;
	height: 36px;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	padding: 9px;
	text-align: center;
	border: 1px solid #6D3D99;
}

.topicks {
	margin: 0 20px;
	flex-wrap: wrap;
}

.main {
	flex-direction: column;
}

.row {
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.post__row {
	width: 100%;
	margin-top: 15px;
}

.topicks__row {
	margin-top: 22px;
}

.post {
	font-size: 0.75em;
	flex-basis: 48.83227178%;
	flex-wrap: wrap;
}

.post__h1 {
	display: block;
	width: 100%;
	height: 15px;
	position: relative;
	margin: 0;
	font-size: 1.166666em;
}

.post__h1-head {
	display: block;
	background: white;
	font-weight: bold;
	text-align: center;
	position: absolute;
	padding: 0 4px;
	left: 16px;
	top: -2px;
}

.post__h1_color_orange {
	background: #FFC740;
}

.post__h1_color_purple {
	background: #9B51E0;
}

.post__p {
	margin: 0;
	margin-bottom: 15px;
	line-height: 0.875rem;
	text-align: justify;
}

.column {
	flex-direction: column;
}

.post__column {
	flex-basis: 65.6756521739130434782608695652%;
	justify-content: space-between;
}

.post__author {
	margin: 0;
}

.post__read-more {
	color: black;
	line-height: 0.875em;
	color: black;
}

.post__read-more:hover {
	color: #808080;
}
.post__img {
	align-self: flex-start;
	width: 100%;
	padding: 1px;
	border: 2px solid #FFC740;
}

.post__link {
	flex-basis: 30%;
	align-self: flex-start;
}

.post__resent-post {
	margin: 0;
	padding: 0;
}

.post__posts  {
	list-style: none;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 7px;
}

.post__posts:first-child {
	margin-top: 13px;
}

.post__info {
	margin:0;
}

.post__small-link {
	height: 38px;
	margin: 6px 11px 0 2px;
	border: 1px solid rgb(207, 207, 207);
}

.post__title {
	margin: 0 0 2px 0;
	font-weight: normal;
	text-transform: uppercase;
}

.post__flex-row {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
}

.row2 .post {
	flex-basis: 32.3404255319%;
	flex-direction: column;
}

.post__img-flex {
	width: 100%;
}

.post__link-flex {
	display: block;
	margin: 23px 0;
}

.footer {
	height: 115px;
	width: 100%;
	background: #6D3D99;
	padding-top: 48px;
	justify-content: center;
}

.footer__title {
	font-weight: bold;
	font-size: 0.875em;
	color: #fff;
	margin: 0;
}

@media (max-width: 768px) {
	.content > .nav {
		display: none;
	}

	header > .search {
		display: none;
	}

	.header {
		padding-bottom: 27px;
	}

	.img-board__p {
		width: 60%;
	}

	.img-board__h1 {
		font-size: 3.5em;
	}
}

@media (max-width: 576px) {
	.post {
		flex-basis: 100%;
	}

	.row2 .post {
		flex-basis: 100%;
	}

	.img-board {
		padding: 17px;
	}

	.img-board__p {
		width: 80%;
	}

	.img-board__h1 {
		font-size: 2.5em;
	}
}

@media (max-width: 375px) {
	.post__row {
		justify-content: center;
	}

	.post__link {
		flex-basis: auto;
	}

	.post__column {
		flex-basis: auto;
		margin-top: 10px;
	}

	.img-board__p {
		width: 100%;
	}

	.img-board__h1 {
		font-size: 2em;
	}
}